{% extends "layout.html.twig" %}

{% block content %}
    <form method="POST">
        <p>
            <label for="event-id">Event ID:</label>
            <input type="text" id="event-id" name="event_id" value="{{ event_id }}" disabled="disabled" />
        </p>

        <p>
            <strong>Count RSVPed members:</strong> {{ count_rsvped_members }}
        </p>

        <h2>Drawn members</h2>
        <p>
            <table>
                {% for draw_member in drawn_members %}
                <tr>
                    <td>
                        {{ loop.index }}.
                    </td>
                    <td>
                        {% if draw_member.photo is defined %}
                            <img src="{{ draw_member.photo }}" />
                        {% endif %}
                    </td>
                    <td>
                        <span class="font130 strong">{{ draw_member.name }}</span>
                    </td>

                    <td>
                        <i>{{ draw_member.member_id }}</i>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </p>

        <p>
            <button type="submit" name="draw"><strong>Draw</strong></button>
            <button type="submit" name="export">Export to CSV</button>
        </p>

        <p>
            <button type="submit" name="clear" value="">Clear</button>
        </p>
    </form>
{% endblock %}